.container {
  background-image: url("./image/web1.jpg");
  height: 100vh;
  width: 100vw;
  font-weight: bolder;
}

.search {
  /* width: 420px; */
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.cards {
  transition-timing-function: 3s ease-in;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}

.card {
  width: 400px;
  height: 200px;
  background-color: ivory;
  color: black;
  text-align: center;
  align-items: center;
}
